.container{
    width: 65%;
    margin: 0 auto;
}

#header-background{
    height: 100px;
    background-color: rgb(75, 130, 225);
    background-image: url(../img/pattern.png);
    background-size: 300px;
}

/*colors*/
.gray{
    color: gray;
    margin: 10px;
}

.light-blue{
    color: rgb(83, 187, 222);
    text-decoration: none;
}

.highlighted-y{
    background-color: yellow;
}

.white{
    color: white;
}

.highlighted-lb{
    background-color: lightblue;
}

.highlighted-b{
    background-color: blue;
}

/* generic */

#logo{
    height: 75px;
    margin: 15px 0
}

h1{
    margin-bottom: 0;
}

#date{
    font-size: 12px;
}

figure{
    margin: 15px 0px 0px;
}

.image-description{
    font-size: 12px;
}

ul{
    padding: 15px;
}

table{
    border-spacing: 0;
}

th, td{
    padding: 5px;
    text-align: left;
}

th{
    padding-right: 100px;
}

.ad{
    height: 208px;
    width: 312px;
    padding: 15px;
    background-repeat: no-repeat;
}

#monitor{
    background-image: url(../img/monitor.jpg);
}

#graph{
    background-image: url(../img/graph.jpg);
}